@import "./variables.scss";
@import "./breakpoints.scss";
@import "include-media";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bcg-color);

  font-family: "Montserrat", sans-serif;
  color: var(--black-color);

  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 8px;

  @include media(">=laptop") {
    width: 960px;
    padding: 0;
  }
}

a,
.a {
  color: inherit;
  text-decoration: unset;

  &:hover {
    cursor: pointer;
    color: inherit;
  }
}
