@import "styles/breakpoints.scss";

.headerSection {
  background-color: white;
  height: fit-content;
}

.heading {
  height: calc(100vh - 90px);
  background-image: url(/assets/guitar.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bcg-color);

    padding: 10px 10px 30px 10px;
    z-index: 1;

    @include media(">=tablet") {
      font-size: 70px;
    }

    @include media(">=tablet") {
      padding: 100px 50px 30px 50px;
    }
  }
  .ctaTxt {
    color: var(--cta-color);
    font-size: 35px;

    @include media(">=tablet") {
      font-size: 65px;
    }
  }

  h2 {
    color: var(--bcg-color);

    padding: 0 10px;

    z-index: 1;

    @include media(">=tablet") {
      padding: 0 50px;
    }
  }
}

.linkBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(">=tablet") {
    flex-direction: row;
    justify-content: end;
  }
}
.cover {
  width: 100%;
  height: calc(100vh - 90px);
  background: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 90px;
}
